{erl_opts, [
  debug_info,
  warnings_as_errors,
  warn_export_all
]}.
{deps, [
  {esupervisor, ".*", {git, "git://github.com/spawngrid/esupervisor.git", "HEAD"}}
  % Uncomment when doing development
  %, {sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}}
]}.
% vim: ts=2 sw=2 et ft=erlang
